<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Booking.com Functional Tests">
    <test name="Language Change Test">
        <classes>
            <class name="Tests.BookingTests">
                <methods>
                    <include name="languageChangeTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Hotels Test">
        <classes>
            <class name="Tests.BookingTests">
                <methods>
                    <include name="hotelReservationTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Trending Location Hotels Test">
        <classes>
            <class name="Tests.BookingTests">
                <methods>
                    <include name="trendingLocationsTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Flights Test">
        <classes>
            <class name="Tests.BookingTests">
                <methods>
                    <include name="flightsTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Attractions Test">
        <classes>
            <class name="Tests.BookingTests">
                <methods>
                    <include name="attractionsTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>